@import "settings";
@import "normalize";
// @import "foundation";

// Or selectively include components
   @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
     "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
     "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
     "foundation/components/top-bar",
     "foundation/components/type",
//   "foundation/components/offcanvas",
     "foundation/components/visibility";

body {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-bar, .columns {
  z-index: 1;
}

.mv4x {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mv3x {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mv2x {
  margin-top: 16px;
  margin-bottom: 16px;
}

.video__outer {
  position: relative;
}

.video__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(102, 102, 102, 0);
  text-align: center;
  transition: background-color 0.5s ease;
  pointer-events: none;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    color: white;
    pointer-events: auto;
  }
}

.video__outer:hover {
  .video__overlay {
    background-color: rgba(51, 51, 51, 0.9);
    p {
      opacity: 1;
    }
  }
}