{{> nav}}

<div class="row  mv  ph">
  <div class="small-12  medium-6  large-5  small-centered  medium-uncentered  columns">
    <h1 class="title">{{title}}</h1>
    <div class="bio  mv">
      <h6 class="header-custom">Representation</h6>
      <p>Aaron Brown (Avalon)</p>
      <a href="mailto:ABrown@avalon-entertainment.com">ABrown@avalon-entertainment.com</a><br/>
      <a href="tel:1-310-424-1716">(310) 424-1716</a>
      <div class="mv">
        <h6 class="header-custom">For All Other Inquiries</h6>
        <a href="mailto:pete@ohpetelee.com">pete @ ohpetelee.com</a>
      </div>
    </div>
  </div>
</div>
