{{> nav}}

<div class="row  mv  ph">
  <div class="small-12  medium-6  large-5  small-centered  medium-uncentered  columns">
    <h1 class="title">{{title}}</h1>
    <p class="bio  mv">
      <span><a href="http://enterthehero.com/">Enter the Hero</a></span><br>
      <span><a href="mailto:pete@ohpetelee.com">pete@ohpetelee.com</a></span><br>
      <span>617.784.1886</span>
    </span><br>
  </div>
</div>