{{> nav}}

<div class="row  mv  ph">
  <div class="small-12  medium-6  large-5  small-centered  medium-uncentered  columns">
    <h1 class="title">{{title}}</h1>
    <div class="bio  mv">
      <h6 class="header-custom">Representation</h6>
      <p>
        <span>Management: Avalon</span><br/>
        <span>Aaron Brown</span><br/>
        <a href="mailto:ABrown@avalon-entertainment.com">ABrown@avalon-entertainment.com</a><br/>
        <a href="tel:1-310-424-1716">(310) 424-1716</a><br/>
      </p>
      <p>
        <span>Literary Agent: APA</span><br/>
        <span>Christina Campagnola</span><br/>
        <a href="mailto:ccampagnola@apa-agency.com">ccampagnola@apa-agency.com</a><br/>
        <a href="tel:1-310-888-4282">(310) 888-4282</a><br/>
      </p>
      <div class="mv">
        <h6 class="header-custom">For All Other Inquiries</h6>
        <a href="mailto:pete@ohpetelee.com">pete @ ohpetelee.com</a>
      </div>
    </div>
  </div>
</div>
