{{> nav}}

<div class="row  mv  ph">
  <h1 class="title">{{title}}</h1>
</div>
<div class="row">
  <div class="small-12 centered columns">
    <a data-flickr-embed="true"  href="https://www.flickr.com/photos/nomoretitanic/albums/72157632464340437" title="portfolio"><img src="https://farm9.staticflickr.com/8354/8360441478_a8f0e4f279_k.jpg" width="2048" height="996" alt="portfolio"></a>
  </div>
</div>
