{{> nav}}

<div class="row  mv  ph">
  <h1 class="title">{{title}}</h1>
</div>
<div class="row">
    <div class="small-12 centered columns">
        <a data-flickr-embed="true" data-context="true"  href="https://www.flickr.com/photos/nomoretitanic/29055941905/in/album-72157635232648764/" title="Pink Zebra - Tsukunes"><img src="https://farm9.staticflickr.com/8418/29055941905_44c1dda753_k.jpg" width="2048" height="1303" alt="Pink Zebra - Tsukunes"></a>
    </div>
</div>
