{{> nav}}

<div class="row">
  <div class="small-12 centered columns">
    <a data-flickr-embed="true" data-context="true"  href="https://www.flickr.com/photos/nomoretitanic/8360441478/in/album-72157632464340437/" title="Chasing Lanterns"><img src="https://farm9.staticflickr.com/8354/8360441478_a8f0e4f279_k.jpg" width="2048" height="996" alt="Chasing Lanterns"></a>
  </div>
</div>
