{{> nav}}

<div class="row  mv">
	{{#each videos}}
	<div class="small-12  medium-6  large-4  columns">
		<div class="video__outer">
			<iframe src="https://player.vimeo.com/video/{{id}}?badge='0&byline='0'&color='f2002b'&portrait='0'&title='0'" frameborder="0" width="500" height="281" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<div class="video__overlay">
				<p><a href="https://vimeo.com/{{id}}">{{title}}</a> from <a href="https://vimeo.com/petelee">Peter Lee</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
			</div>
		</div>
	</div>
	{{/each}}
</div>